In [5]:
# importando
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# uploud arquivo
from google.colab import files
uploaded = files.upload()

Saving vendas_pizzaria.csv to vendas_pizzaria.csv

In [7]:
# crindo data frame
vp = pd.read_csv('vendas_pizzaria.csv')

In [8]:
# vendo primeiros dados
vp .head(10)

,data_venda,id_franquia,quantidade_pizzas,valor_unitario,valor_total,forma_pagamento
0,2025-11-24,1.0,1,39.9,39.9,Débito
1,2025-04-25,2.0,-1,29.9,NaN,NaN
2,2025-02-14,5.0,4,29.9,119.6,Crédito
3,2025-02-17,2.0,2,NaN,NaN,NaN
4,2025-01-14,5.0,2,NaN,NaN,Dinheiro
5,2025-04-23,4.0,5,39.9,199.5,Crédito
6,2025-03-23,NaN,4,39.9,159.6,Pix
7,2025-03-21,2.0,3,29.9,89.7,Crédito
8,2025-07-14,1.0,3,39.9,119.7,NaN
9,2025-05-16,1.0,-1,0.0,NaN,NaN

In [9]:
# quantidade de linhas e colunas
vp.shape

(500, 6)

In [ ]:
# verificando tipo de dado
vp.dtypes

data_venda            object
id_franquia          float64
quantidade_pizzas      int64
valor_unitario       float64
valor_total          float64
forma_pagamento       object
dtype: object

In [10]:
# verificando se tem faltantes
vp.isnull().sum()

data_venda             0
id_franquia           93
quantidade_pizzas      0
valor_unitario       106
valor_total          242
forma_pagamento      107
dtype: int64

In [11]:
# substituindo o valor de NA pela media
vp["valor_total"].fillna(vp['valor_total'].mean(), inplace=True)

/tmp/ipython-input-273099805.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  vp["valor_total"].fillna(vp['valor_total'].mean(), inplace=True)

In [12]:
# somei a media do valor total
vp["valor_total"].mean()

np.float64(107.85)

In [13]:
#substituindo o valor de na por zero
vp["valor_total"].fillna(0, inplace=True)

/tmp/ipython-input-2206840055.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  vp["valor_total"].fillna(0, inplace=True)

In [14]:
# tirando o NA das colunas
vp.dropna(inplace=True)

In [15]:
# verificando se ainda existe valores nulos
vp.isnull().sum()

data_venda           0
id_franquia          0
quantidade_pizzas    0
valor_unitario       0
valor_total          0
forma_pagamento      0
dtype: int64

In [16]:
# transformando a coluna data em tipo data
vp['data_venda'] = pd.to_datetime(vp['data_venda'])

In [18]:
vp['quantidade_pizzas'] = vp['quantidade_pizzas'].clip(lower=0)

In [19]:
vp["valor_unitario"] = vp['valor_unitario'].round(2)

In [25]:
vp.head(10)

,data_venda,id_franquia,quantidade_pizzas,valor_unitario,valor_total,forma_pagamento
0,2025-11-24,1.0,1,39.9,39.90,Débito
2,2025-02-14,5.0,4,29.9,119.60,Crédito
5,2025-04-23,4.0,5,39.9,199.50,Crédito
7,2025-03-21,2.0,3,29.9,89.70,Crédito
12,2025-12-27,1.0,1,34.9,34.90,Pix
13,2025-02-10,2.0,1,0.0,107.85,Pix
15,2025-07-01,2.0,0,39.9,107.85,Crédito
19,2025-01-17,3.0,4,39.9,159.60,Crédito
20,2025-04-19,5.0,0,39.9,107.85,Débito
21,2025-12-02,4.0,4,0.0,107.85,Débito

In [28]:
# calcular a média sem considerar os zeros
media = vp.loc[vp['valor_unitario'] != 0, 'valor_unitario'].mean()

# substituir 0 pela média
vp['valor_unitario'] = vp['valor_unitario'].replace(0, media).round(2)

In [29]:
vp.head(10)

,data_venda,id_franquia,quantidade_pizzas,valor_unitario,valor_total,forma_pagamento
0,2025-11-24,1.0,1,39.90,39.90,Débito
2,2025-02-14,5.0,4,29.90,119.60,Crédito
5,2025-04-23,4.0,5,39.90,199.50,Crédito
7,2025-03-21,2.0,3,29.90,89.70,Crédito
12,2025-12-27,1.0,1,34.90,34.90,Pix
13,2025-02-10,2.0,1,34.97,107.85,Pix
15,2025-07-01,2.0,0,39.90,107.85,Crédito
19,2025-01-17,3.0,4,39.90,159.60,Crédito
20,2025-04-19,5.0,0,39.90,107.85,Débito
21,2025-12-02,4.0,4,34.97,107.85,Débito

In [31]:
vp['id_franquia'] = vp['id_franquia'].astype(int)

In [32]:
vp.dtypes

data_venda           datetime64[ns]
id_franquia                   int64
quantidade_pizzas             int64
valor_unitario              float64
valor_total                 float64
forma_pagamento              object
dtype: object

In [33]:
vp.head(10)

,data_venda,id_franquia,quantidade_pizzas,valor_unitario,valor_total,forma_pagamento
0,2025-11-24,1,1,39.90,39.90,Débito
2,2025-02-14,5,4,29.90,119.60,Crédito
5,2025-04-23,4,5,39.90,199.50,Crédito
7,2025-03-21,2,3,29.90,89.70,Crédito
12,2025-12-27,1,1,34.90,34.90,Pix
13,2025-02-10,2,1,34.97,107.85,Pix
15,2025-07-01,2,0,39.90,107.85,Crédito
19,2025-01-17,3,4,39.90,159.60,Crédito
20,2025-04-19,5,0,39.90,107.85,Débito
21,2025-12-02,4,4,34.97,107.85,Débito